<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407097227174-vfnc3boo5rarsseh5i1t39l4us91epij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407097227174-vfnc3boo5rarsseh5i1t39l4us91epij</string>
	<key>API_KEY</key>
	<string>AIzaSyDexqN3WpZk65uvpCNr2B14GRlUfpuPWLo</string>
	<key>GCM_SENDER_ID</key>
	<string>407097227174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinn.ReportReserch</string>
	<key>PROJECT_ID</key>
	<string>reportresearch-335be</string>
	<key>STORAGE_BUCKET</key>
	<string>reportresearch-335be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407097227174:ios:4247519ca2effa4d820167</string>
	<key>DATABASE_URL</key>
	<string>https://reportresearch-335be.firebaseio.com</string>
</dict>
</plist>